@model BikeVale.Models.Cliente
@{
    ViewData["Title"] = "CadastroCliente";
    Random random = new Random();
    var idCliente = random.Next(1, 10000);
    var idEndereco = random.Next(10000, 66666);
    var idTelefone = random.Next(66667, 99999);
}
<div class="container">
    <h1>Informações Pessoais</h1>
    <div class="row">
        <form asp-action="cadastroClientePost" class="col">
            <label for="idCliente">ID do Cliente:</label>
            <div class="input-group mb-3 col">
                <span class="input-group-text" id="basic-addon1">#</span>
                <input type="text" id="idCliente" value = @idCliente name="idCliente">
            </div>
            <label for="nome">Nome:</label>
            <div class="input-group mb-3 col">
                <span class="input-group-text" id="basic-addon1">#</span>
                <input type="text" id="nome" name="nome">
            </div>
            <label for="sobrenome">Sobrenome:</label>
            <div class="input-group mb-3 col">
                <span class="input-group-text" id="basic-addon1">#</span>
                <input type="text" id="sobrenome" name="sobrenome">
            </div>
            <label for="cpf">CPF:</label>
            <div class="input-group mb-3 col">
                <span class="input-group-text" id="basic-addon1">#</span>
                <input type="text" id="cpf" name="cpf">
            </div>
            <label for="email">E-mail:</label>
            <div class="input-group mb-3 col">
                <span class="input-group-text" id="basic-addon1">#</span>
                <input type="email" id="email" name="email">
            </div>
            <label for="rua">Rua:</label>
            <div class="input-group mb-3 col">
                <span class="input-group-text" id="basic-addon1">#</span>
                <input type="text" id="rua" name="rua">
            </div>
            <label for="numero">Número:</label>
            <div class="input-group mb-3 col">
                <span class="input-group-text" id="basic-addon1">#</span>
                <input type="text" id="numero" name="numero">
            </div>
            <label for="cidade">Cidade:</label>
            <div class="input-group mb-3 col">
                <span class="input-group-text" id="basic-addon1">#</span>
                <input type="text" id="cidade" name="cidade">
            </div>
            <label for="cep">CEP:</label>
            <div class="input-group mb-3 col">
                <span class="input-group-text" id="basic-addon1">#</span>
                <input type="text" id="cep" name="cep">
            </div>
            <label for="Ddd">DDD:</label>
            <div class="input-group mb-3 col">
                <span class="input-group-text" id="basic-addon1">#</span>
                <input type="text" id="Ddd" name="Ddd">
            </div>
            <label for="telefone">Telefone:</label>
            <div class="input-group mb-3 col">
                <span class="input-group-text" id="basic-addon1">#</span>
                <input type="text" id="telefone" name="telefone">
            </div>
            <label for="idEndereco">ID do Endereço:</label>
            <div class="input-group mb-3 col">
                <span class="input-group-text" id="basic-addon1">#</span>
                <input type="text" id="idEndereco" value=@idEndereco name="idEndereco">
            </div>
            <label for="idTelefone">ID do Telefone:</label>
            <div class="input-group mb-3 col">
                <span class="input-group-text" id="basic-addon1">#</span>
                <input type="text" id="idTelefone" value=@idTelefone name="idTelefone">
            </div>
            <div class="col text-end">
                <input type="submit" value="Salvar" class="btn btn-green btn-decorator" />
            </div>
        </form>
    </div>
</div>