@model BikeVale.Models.Bicicleta;
@using BikeVale.Models;
@using MySqlConnector;
@{
    ViewData["Title"] = "CadastroBicicleta";
    Random random = new Random();
    var idBicicleta = random.Next(1, 10000);
    var ale = Model.result;
}
<div class="padding"></div>
<div class="container">
    <div class="row title-h1">
        <h2>Cadastar Bike</h2>
    </div>
    <div class="row font-midle">
        <h2>Informações básicas</h2>
    </div>
    <div class=" row">
        <form asp-action="cadastroBicicletaPost" id="formulario" class="col">
            <div class="mb-3 col">
                <label class="form-label" for="Modelo">Modelo:</label>
                <input asp-for="Modelo" class="form-control" placeholder="Nome Bike" />
            </div>

            <div class="mb-3">
                <label class="form-label" for="Modalidade">Modalidade:</label>
                <input asp-for="Modalidade" class="form-control" placeholder="Modalidade" />
            </div>

            <div class="mb-3">
                <label class="form-label" for="QtdMarchas">Qtd de Marchas:</label>
                <input asp-for="QtdMarchas" class="form-control" placeholder="Marchas" />
            </div>

            <div class="text-end">
                <input onclick="alerta()" type="submit" value="Salvar" class="btn btn-green btn-decorator" />
            </div>

            <div class="mb-3 invisivel">
                <input asp-for="IdBicicleta" value=@idBicicleta class="form-control" />
                <span asp-validation-for="IdBicicleta" class="text-danger"></span>
            </div>
            
            

        </form>
        <div class="col"></div>
    </div>
</div>

<script>
    function alerta() {
        alert("Dados salvos com sucesso!");
    }

    function limparFormulario() {
        document.getElementById("formulario").reset();
    }

</script>